@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 58 41% 99%;
    --foreground: 58 64% 2%;
    --muted: 238 26% 93%;
    --muted-foreground: 238 11% 35%;
    --popover: 58 41% 99%;
    --popover-foreground: 58 64% 2%;
    --card: 58 41% 99%;
    --card-foreground: 58 64% 2%;
    --border: 58 2% 92%;
    --input: 58 2% 92%;
    --primary: 58 98% 68%;
    --primary-foreground: 58 98% 8%;
    --secondary: 238 98% 68%;
    --secondary-foreground: 0 0% 100%;
    --accent: 238 98% 68%;
    --accent-foreground: 0 0% 100%;
    --destructive: 2 100% 23%;
    --destructive-foreground: 2 100% 83%;
    --ring: 58 98% 68%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 58 45% 3%;
    --foreground: 58 34% 98%;
    --muted: 238 26% 7%;
    --muted-foreground: 238 11% 65%;
    --popover: 58 45% 3%;
    --popover-foreground: 58 34% 98%;
    --card: 58 45% 3%;
    --card-foreground: 58 34% 98%;
    --border: 58 2% 12%;
    --input: 58 2% 12%;
    --primary: 58 98% 68%;
    --primary-foreground: 58 98% 8%;
    --secondary: 238 98% 68%;
    --secondary-foreground: 0 0% 100%;
    --accent: 238 98% 68%;
    --accent-foreground: 0 0% 100%;
    --destructive: 2 100% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 58 98% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
